body {
  padding-top: 70px;
  background-image: url(https://source.unsplash.com/4xjCrW4ZXHI);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.navbar {
  background: #2c3350;
  font-family: 'Bungee';
}

.navbar-inverse .nav>li>a {
  color: white;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  color: #2c3350;
  background: white;
}

h1 {
  font-family: 'Bungee';
  color: white;
  text-shadow: 3px 1px 5px black;
}

p {
  font-family: 'Bungee';
  font-size: 100px;
  color: white;
  text-shadow: 3px 1px 5px black;
  padding-top: 0;
}


#content {
  text-align: center;
  padding: 25%;
}

hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 3), rgba(255, 255, 255, 0));
}

/* .icon {
  font-size: 100px;
  color: white;
} */
